<footer>
  <div class="container">
    <div class="row">
      <div class="span7">
        <h3 class="footer-title">Group Fourteen</h3>
        <p>Pinyen, Ray Yu, Chuya, Cytms</p>
      </div> <!-- /span8 -->

      <div class="span5 pull-right">
        <div class="footer-banner">
          <h3 class="footer-title">Our Objects: </h3>
          <ul>
            <li>Learning English is fun</li>
            <li>I don't know another...</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>