<div id="nav_bar" class="btn-toolbar pull-right">
	<div class="btn-group">
	 <button class="btn" value="1">
	    <i class="icon-time"></i>
	  </button>
	  <button class="btn" value="2">
	    <i class="icon-leaf"></i>
	  </button>
	  <button class="btn" value="3">
	    <i class="icon-cog"></i>
	  </button>
	  <button class="btn" value="4">
	    <i class="icon-globe"></i>
	  </button>
	  <button class="btn" value="5">
	    <i class="icon-group"></i>
	  </button>
	  <button class="btn" value="6">
	    <i class="icon-pencil"></i>
	  </button>
	</div>
</div> 